alternativa.json
[{"id":"2012d9ba.2a3036","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a6bc1f99.d8a6","type":"arduino out","z":"2012d9ba.2a3036","name":"","pin":"13","state":"OUTPUT","arduino":"97e266ad.13e528","x":430,"y":40,"wires":[]},{"id":"b6816a9.bb0d198","type":"ui_switch","z":"2012d9ba.2a3036","name":"","label":"Ligar Luz 1","tooltip":"","group":"41fa3055.3c964","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":80,"wires":[["a6bc1f99.d8a6"]]},{"id":"f78c2d79.28597","type":"ui_switch","z":"2012d9ba.2a3036","name":"","label":"Ligar Luz 2","tooltip":"","group":"41fa3055.3c964","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":120,"wires":[["847974a1.144eb8"]]},{"id":"35777b05.ec4ac4","type":"ui_switch","z":"2012d9ba.2a3036","name":"","label":"Ligar Luz 3","tooltip":"","group":"41fa3055.3c964","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":160,"wires":[["da26d2e4.3c166"]]},{"id":"41e079cd.65d2a8","type":"ui_switch","z":"2012d9ba.2a3036","name":"","label":"Ligar Luz 4","tooltip":"","group":"41fa3055.3c964","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":200,"wires":[["26afbef2.b9bf92"]]},{"id":"847974a1.144eb8","type":"arduino out","z":"2012d9ba.2a3036","name":"","pin":"12","state":"OUTPUT","arduino":"97e266ad.13e528","x":430,"y":100,"wires":[]},{"id":"da26d2e4.3c166","type":"arduino out","z":"2012d9ba.2a3036","name":"","pin":"11","state":"OUTPUT","arduino":"97e266ad.13e528","x":430,"y":160,"wires":[]},{"id":"26afbef2.b9bf92","type":"arduino out","z":"2012d9ba.2a3036","name":"","pin":"10","state":"OUTPUT","arduino":"97e266ad.13e528","x":430,"y":220,"wires":[]},{"id":"a93a79fe.a046d8","type":"ui_numeric","z":"2012d9ba.2a3036","name":"","label":"Objetos Ligados","tooltip":"","group":"4f7f7f5e.f5d08","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"4","step":1,"x":280,"y":360,"wires":[["6af249dd.5ff958"]]},{"id":"ece78a5b.6de6e8","type":"ui_slider","z":"2012d9ba.2a3036","name":"","label":"slider","tooltip":"","group":"4f7f7f5e.f5d08","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"4","step":1,"x":270,"y":440,"wires":[["a93a79fe.a046d8"]]},{"id":"6af249dd.5ff958","type":"ui_text_input","z":"2012d9ba.2a3036","name":"","label":"","tooltip":"","group":"4f7f7f5e.f5d08","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":110,"y":280,"wires":[["60d9d122.c06eb"]]},{"id":"2adef337.4b5a2c","type":"ui_text","z":"2012d9ba.2a3036","group":"4f7f7f5e.f5d08","order":1,"width":0,"height":0,"name":"","label":"Este é um Exemplo de Como uma UI Dashboard se comporta no Node-RED","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":280,"wires":[]},{"id":"60d9d122.c06eb","type":"ui_gauge","z":"2012d9ba.2a3036","name":"","group":"bbdeb250.f6c12","order":1,"width":"4","height":"4","gtype":"gage","title":"","label":"Ligados","format":"{{value}}","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":280,"wires":[]},{"id":"97e266ad.13e528","type":"arduino-board","z":"","device":"/dev/ttyS0"},{"id":"41fa3055.3c964","type":"ui_group","z":"","name":"Painel de Luzes","tab":"e7cca738.c6d008","order":1,"disp":true,"width":"6","collapse":false},{"id":"4f7f7f5e.f5d08","type":"ui_group","z":"","name":"Informações","tab":"e7cca738.c6d008","order":3,"disp":true,"width":"6","collapse":false},{"id":"bbdeb250.f6c12","type":"ui_group","z":"","name":"Analise","tab":"e7cca738.c6d008","order":2,"disp":true,"width":"6","collapse":false},{"id":"e7cca738.c6d008","type":"ui_tab","z":"","name":"Pagina Inicial","icon":"dashboard","order":2,"disabled":false,"hidden":false}]