Teste Iniciais/Teste#1.json
[{"id":"da8df893.782848","type":"tab","label":"Teste de Bot","disabled":false,"info":""},{"id":"472ea9c2.f7d888","type":"chatbot-telegram-receive","z":"da8df893.782848","bot":"d9ad9ee9.4ef93","botProduction":"","x":90,"y":180,"wires":[["74451f01.bfdcc"]]},{"id":"542e5d2f.2bb3e4","type":"chatbot-telegram-send","z":"da8df893.782848","bot":"d9ad9ee9.4ef93","botProduction":"","track":true,"passThrough":true,"outputs":1,"x":450,"y":180,"wires":[["309273e4.49e64c"]]},{"id":"74451f01.bfdcc","type":"chatbot-ask","z":"da8df893.782848","name":"","buttons":[{"type":"keyboardButton","label":"Objeto #1"},{"type":"keyboardButton","label":"Objeto #2"},{"type":"keyboardButton","label":"Objeto #3"},{"type":"keyboardButton","label":"Objeto #4"}],"message":"{{firstName}} o que você deseja ligar/desligar?","x":270,"y":220,"wires":[["542e5d2f.2bb3e4"]]},{"id":"309273e4.49e64c","type":"switch","z":"da8df893.782848","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"Objeto #1","vt":"str"},{"t":"eq","v":"Objeto #2","vt":"str"},{"t":"eq","v":"Objeto #3","vt":"str"},{"t":"eq","v":"Objeto #4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":490,"y":300,"wires":[["dc395a34.97e508"],["8bb588eb.5b77a8"],["2cba20ba.486c2"],["76778da3.7a7564"]]},{"id":"dc395a34.97e508","type":"chatbot-request","z":"da8df893.782848","name":"","message":"Pronto Objeto #1 Ligado/Desligado","requestType":"location","buttonLabel":"","x":660,"y":240,"wires":[["4ea521bc.66d8d"]]},{"id":"8bb588eb.5b77a8","type":"chatbot-request","z":"da8df893.782848","name":"","message":"Pronto Objeto #2 Ligado/Desligado","requestType":"location","buttonLabel":"","x":660,"y":280,"wires":[["4ea521bc.66d8d"]]},{"id":"2cba20ba.486c2","type":"chatbot-request","z":"da8df893.782848","name":"","message":"Pronto Objeto #3 Ligada/Desligado","requestType":"location","buttonLabel":"","x":660,"y":320,"wires":[["4ea521bc.66d8d"]]},{"id":"76778da3.7a7564","type":"chatbot-request","z":"da8df893.782848","name":"","message":"Pronto Objeto #4 Ligada/Desligado","requestType":"location","buttonLabel":"","x":660,"y":360,"wires":[["4ea521bc.66d8d"]]},{"id":"4ea521bc.66d8d","type":"chatbot-telegram-send","z":"da8df893.782848","bot":"d9ad9ee9.4ef93","botProduction":"","track":true,"passThrough":true,"outputs":1,"x":870,"y":320,"wires":[["1f4c94a9.e20b9b"]]},{"id":"d6010a9d.fc4ee8","type":"switch","z":"da8df893.782848","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"Sim","vt":"str"},{"t":"eq","v":"Não","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":480,"wires":[["bc3d5d3a.6cdb1"],["74451f01.bfdcc"]]},{"id":"1f4c94a9.e20b9b","type":"chatbot-ask","z":"da8df893.782848","name":"","buttons":[{"type":"keyboardButton","label":"Sim"},{"type":"keyboardButton","label":"Não"}],"message":"{{firstName}} . Deseja finalizar a Operação","x":1050,"y":320,"wires":[["c3a115b1.7c8688"]]},{"id":"bc3d5d3a.6cdb1","type":"chatbot-request","z":"da8df893.782848","name":"","message":"Pronto, a operação está finalizada.","requestType":"location","buttonLabel":"Pronto, a operação está finalizada.","x":940,"y":440,"wires":[["4af25d88.2a7d44"]]},{"id":"c3a115b1.7c8688","type":"chatbot-telegram-send","z":"da8df893.782848","bot":"d9ad9ee9.4ef93","botProduction":"","track":true,"passThrough":true,"outputs":1,"x":1230,"y":320,"wires":[["d6010a9d.fc4ee8"]]},{"id":"4af25d88.2a7d44","type":"chatbot-telegram-send","z":"da8df893.782848","bot":"d9ad9ee9.4ef93","botProduction":"","track":true,"passThrough":true,"outputs":1,"x":1110,"y":440,"wires":[[]]},{"id":"d9ad9ee9.4ef93","type":"chatbot-telegram-node","z":"","botname":"ProjetoSmartBot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]