Teste Iniciais/Teste#2.json
[{"id":"3cf9c52a.add05a","type":"tab","label":"Automação Residencial","disabled":false,"info":"Projeto de Automação Recidencial com Node-RED, JavaScript, Arduino e Raspberry Pi 2a"},{"id":"f1068d8b.f9567","type":"chatbot-telegram-receive","z":"3cf9c52a.add05a","bot":"d9ad9ee9.4ef93","botProduction":"","x":130,"y":100,"wires":[["807bf335.2402e"]]},{"id":"eb2f4cff.6fae5","type":"chatbot-telegram-send","z":"3cf9c52a.add05a","bot":"d9ad9ee9.4ef93","botProduction":"","track":true,"passThrough":true,"outputs":1,"x":490,"y":160,"wires":[["92e575f3.d119e8"]]},{"id":"807bf335.2402e","type":"chatbot-ask","z":"3cf9c52a.add05a","name":"","buttons":[{"type":"keyboardButton","label":"Objeto #1"},{"type":"keyboardButton","label":"Objeto #2"},{"type":"keyboardButton","label":"Objeto $3"},{"type":"keyboardButton","label":"Objeto #4"}],"message":"{{firstName}} o que você deseja ligar/desligar?","x":310,"y":160,"wires":[["eb2f4cff.6fae5"]]},{"id":"92e575f3.d119e8","type":"switch","z":"3cf9c52a.add05a","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"Objeto #1","vt":"str"},{"t":"eq","v":"Objeto #2","vt":"str"},{"t":"eq","v":"Objeto #3","vt":"str"},{"t":"eq","v":"Objeto #4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":530,"y":280,"wires":[["72ea8ac1.752044","25f8fbad.17b024"],["a9a9ee93.a3198","cd80c5ba.37e2d8"],["bcaca6d0.22b178","86baacf3.4b479"],["745a64c3.49f1fc","c342130e.5ce8e"]]},{"id":"72ea8ac1.752044","type":"chatbot-request","z":"3cf9c52a.add05a","name":"","message":"Pronto Objeto #1 Ligado/Desligado","requestType":"location","buttonLabel":"","x":720,"y":140,"wires":[["47c1b91f.267d28"]]},{"id":"a9a9ee93.a3198","type":"chatbot-request","z":"3cf9c52a.add05a","name":"","message":"Pronto Objeto #2 Ligado/Desligado","requestType":"location","buttonLabel":"","x":720,"y":220,"wires":[["47c1b91f.267d28"]]},{"id":"bcaca6d0.22b178","type":"chatbot-request","z":"3cf9c52a.add05a","name":"","message":"Pronto Objeto #3 Ligada/Desligado","requestType":"location","buttonLabel":"","x":720,"y":300,"wires":[["47c1b91f.267d28"]]},{"id":"745a64c3.49f1fc","type":"chatbot-request","z":"3cf9c52a.add05a","name":"","message":"Pronto Objeto #4 Ligada/Desligado","requestType":"location","buttonLabel":"","x":720,"y":380,"wires":[["47c1b91f.267d28"]]},{"id":"47c1b91f.267d28","type":"chatbot-telegram-send","z":"3cf9c52a.add05a","bot":"d9ad9ee9.4ef93","botProduction":"","track":true,"passThrough":true,"outputs":1,"x":1130,"y":260,"wires":[["56b02211.5acc2c"]]},{"id":"19290a56.4c7396","type":"switch","z":"3cf9c52a.add05a","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"Sim","vt":"str"},{"t":"eq","v":"Não","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":580,"wires":[["105dc9e.38a0236"],["807bf335.2402e"]]},{"id":"56b02211.5acc2c","type":"chatbot-ask","z":"3cf9c52a.add05a","name":"","buttons":[{"type":"keyboardButton","label":"Sim"},{"type":"keyboardButton","label":"Não"}],"message":"{{firstName}} . Deseja finalizar a Operação","x":1310,"y":260,"wires":[["45ab1624.f7dbc8"]]},{"id":"105dc9e.38a0236","type":"chatbot-request","z":"3cf9c52a.add05a","name":"","message":"Pronto, a operação está finalizada.","requestType":"location","buttonLabel":"Pronto, a operação está finalizada.","x":900,"y":560,"wires":[["835f2590.603bb8"]]},{"id":"45ab1624.f7dbc8","type":"chatbot-telegram-send","z":"3cf9c52a.add05a","bot":"d9ad9ee9.4ef93","botProduction":"","track":true,"passThrough":true,"outputs":1,"x":1490,"y":260,"wires":[["19290a56.4c7396"]]},{"id":"835f2590.603bb8","type":"chatbot-telegram-send","z":"3cf9c52a.add05a","bot":"d9ad9ee9.4ef93","botProduction":"","track":true,"passThrough":true,"outputs":1,"x":1070,"y":520,"wires":[[]]},{"id":"a7e15fe9.0c183","type":"arduino out","z":"3cf9c52a.add05a","name":"","pin":"13","state":"OUTPUT","arduino":"","x":870,"y":180,"wires":[]},{"id":"25f8fbad.17b024","type":"function","z":"3cf9c52a.add05a","name":"","func":"msg.payload == true;","outputs":1,"noerr":0,"x":710,"y":180,"wires":[["a7e15fe9.0c183"]]},{"id":"634f4658.6c2968","type":"arduino out","z":"3cf9c52a.add05a","name":"","pin":"12","state":"OUTPUT","arduino":"","x":870,"y":260,"wires":[]},{"id":"cd80c5ba.37e2d8","type":"function","z":"3cf9c52a.add05a","name":"","func":"msg.payload == true;","outputs":1,"noerr":0,"x":710,"y":260,"wires":[["634f4658.6c2968"]]},{"id":"9e4baa9.198d158","type":"arduino out","z":"3cf9c52a.add05a","name":"","pin":"11","state":"OUTPUT","arduino":"","x":870,"y":340,"wires":[]},{"id":"86baacf3.4b479","type":"function","z":"3cf9c52a.add05a","name":"","func":"msg.payload == true;","outputs":1,"noerr":0,"x":710,"y":340,"wires":[["9e4baa9.198d158"]]},{"id":"c2e8889b.aaca08","type":"arduino out","z":"3cf9c52a.add05a","name":"","pin":"10","state":"OUTPUT","arduino":"","x":870,"y":420,"wires":[]},{"id":"c342130e.5ce8e","type":"function","z":"3cf9c52a.add05a","name":"","func":"payload == true;","outputs":1,"noerr":0,"x":710,"y":420,"wires":[["c2e8889b.aaca08"]]},{"id":"d9ad9ee9.4ef93","type":"chatbot-telegram-node","z":"","botname":"ProjetoSmartBot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]